<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>
  <!-- List of Sliding Items -->

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="grass">001</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item2</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="grass">002</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>charmander</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item3</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">003</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>Stakataka</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item4</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">004</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>Metapod</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/011.png">
      </ion-thumbnail>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item5</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">005</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>INDIANA JONES</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/808.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item6</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">006</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>MALOKA</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/802.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item5</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">007</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>POPE</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/799.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item7</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">008</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>USS ARIZONA</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/805.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item8</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">009</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>Duro de MAtar</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item9</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">010</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>James Bond</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/012.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-label>Item10</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip color="light" slot="start">
        <ion-label color="success">011</ion-label>
      </ion-chip>
      <ion-label>

        <div>

          <h2>cURT Russel</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
      </ion-thumbnail>

    </ion-item>
    
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  


  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
  </div>
</ion-content>